*, 
*::after, 
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 20%);
  --Dark-Grey: hsl(0, 0%, 12%);
  --Off-Black: hsl(0, 0%, 8%);
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--Off-Black);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--Dark-Grey);
  color: var(--White);
  padding: 1.5em;
  border-radius: 15px;
}

p {
  font-size: 0.8750rem;
  font-family: 'Inter', sans-serif;
  margin-bottom: 1.5em;
}

img {
  border-radius: 50%;
  max-width: 100%;
  display: block;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-size: clamp(1rem, 3.5vw, 1.5rem);
  margin-top: .7em;
  margin-bottom: .25em;
}

h3 {
  font-family: 'Inter', sans-serif;
  font-size: clamp(.5rem, 2.5vw, 1.2rem);
  color: var(--Green);
  margin-bottom: 1em;
}

button {
  width: 100%;
  border: none;
  background-color: var(--Grey);
  color: var(--White);
  padding: 1em;
  margin-bottom: .5em;
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

button:hover {
  background-color: var(--Green);
  color: var(--Off-Black);
}

main :nth-child(9) {
  margin-bottom: 0;
}

  footer {
    font-size: 11px;
    text-align: center;
    margin: 1em;
    color: var(--White)
  }

  footer a {
    color: var(--Green);
  }

  footer a:hover {
    color: var(--Grey);
  }
